body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.navbar .stock_box {
    text-align: center;
    color: #333;
    padding: 0.25rem 0.5rem;
}

footer {
    text-align: center;
}
